/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 10px;
    font-size: 30px;
}

body{
    background-color: rgb(197, 195, 195);
}
/* header */

.header{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: white;
}

.title-logo{
    display: inline;
    vertical-align: middle;
    font-size: 30px;
}

.logo{
    line-height: 100px;
    vertical-align: middle;
}

/* card */

.container-card{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    width: 60%;
    height: auto;
    border-radius: 10px;
    
}

.margin-card{
    margin-left:100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.header-card{
    height: 50px;
    border-bottom: 1px solid black;
    margin-left: 100px;
}

.button{
    border: 1px solid black;
    padding: 6px;
    border-radius: 5px ;
    vertical-align: middle;
    line-height: 50px;
    font-size: 25px;
}

/* circle */
.cerchio{
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    font-size: 20px;
}

.verde{
    color: greenyellow;
    border: 1px solid greenyellow;
}

.rosso{
    color: red;
    border: 1px solid red;
}

.section{
    margin-top: 50px;
}

/* color data */

.color-data{
    border-radius: 20px;
    color: white;
    padding: 5px;
    font-size: 20px;
}

.blue{
    background-color: rgb(3, 92, 245);
    color: white;
}

.purple{
    background-color:purple ;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}

.light-purple{
    background-color: blueviolet;
}

.light-green{
    background-color: lightgreen;
}