/* generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 10px;
    font-size: 20px;
}

body{
    background-color: rgb(246, 248, 249);
}

/* header */

.header{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: white;
}

.title-logo{
    display: inline;
    vertical-align: middle;
    font-size: 50px;
    font-weight: bolder;
}

.logo{
    line-height: 100px;
    vertical-align: middle;
}

/* card */

.container-card{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    width: 60%;
    height: auto;
    border-radius: 10px;
    
}

.margin-card{
    margin-left:80px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.header-card{
    border-bottom: 2px solid rgb(246, 248, 249);
    color: rgb(125, 124, 124);
}

.button{
    padding: 6px;
    border-radius: 5px ;
    vertical-align: middle;
    line-height: 50px;
    font-size: 18px;
    margin-left: 80px;
}

.button-grey{
    border: 2px solid rgb(222, 224, 226);
    margin: 0;
}

.freccia-section{
    font-size: 15px;
}

.bold{
    font-weight: bolder;
}


/* circle */
.cerchio{
    border-radius: 50%;
    padding: 5px;
    font-size: 10px;
}


.verde{
    color: rgb(139, 210, 195);
    border: 1px solid rgb(139, 210, 195);
}

.rosso{
    color: rgb(233, 70, 59);
    border: 1px solid rgb(233, 70, 59);
}

.section{
    margin-top: 50px;
}

/* color data */

.color-data{
    border-radius: 13px;
    color: white;
    padding: 8px;
    font-size: 13px;
}

.blue{
    background-color: rgb(69, 171, 233);
    color: white;
}

.purple{
    background-color:rgb(156, 114, 228) ;
}

.green{
    background-color: rgb(100, 192, 169);
}

.orange{
    background-color: rgb(242, 158, 51);
}

.light-purple{
    background-color: rgb(215, 99, 161);
}

.light-green{
    background-color: rgb(175, 200, 36);
}